<footer>
    <div class="footerCol">
      <div class="container">
        <ul class="socialCol">
          <li><a href="https://t.me/rem1zoff_oleg"><img src="{{ url_for('static', filename='images/other/telegram.svg') }}" alt="..."></a></li>
          <li><a href="#"><img src="{{ url_for('static', filename='images/other/whatsapp.svg') }}" alt="..."></a></li>
          <li><a href="mailto:job.rem1zoff@gmail.com" target="_blank" title="job.rem1zoff@gmail.com"><img src="{{ url_for('static', filename='images/other/gmail.svg') }}" alt="..."></a></li>
          <li><a href="javascript:void(0)"><img src="{{ url_for('static', filename='images/other/linkedin.svg') }}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
          <p>Copyright ©2023 All rights reserved.<a href="#" target="_blank"></a></p>
        </div>
      </div>
    </div>
  </footer>