<footer>
    <div class="footerCol">
      <div class="container">
        <ul class="socialCol">
          <li><a href="tg://resolve?domain=@rem1zoff_oleg"><img src="{{ url_for('static', filename='images/telegram.svg') }}" alt="..."></a></li>
          <li><a href="#"><img src="{{ url_for('static', filename='images/whatsapp.svg') }}" alt="..."></a></li>
          <li><a href="mailto:job.rem1zoff@gmail.com" target="_blank" title="job.rem1zoff@gmail.com"><img src="{{ url_for('static', filename='images/gmail.svg') }}" alt="..."></a></li>
          <li><a href="javascript:void(0)"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
          <p>Copyright ©2021 All rights reserved.<a href="#" target="_blank"></a></p>
        </div>
      </div>
    </div>
  </footer>