
<header>
    <div class="headerCol">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="logoCol" style="width: 200px;"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/resume_logo.png') }}" alt="..."></a></div>
          </div>
          <div class="col">
            <div class="d-md-none">
              <button class="navToggle">
                <span class="navToggle__text">Toggle Menu</span>
              </button>
            </div>
            <div class="navCollapseCol">
              <div class="navCol">
                <ul>
                    <!-- {% if request.endpoint == 'blog' %}
                    <li>
                    <div>
                      <form class="d-flex" role="search", method="GET">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
                        <button class="btn btnOutline" type="submit">Search</button>
                      </form>
                    </div>
                    <li>
                      {%  if current_user.is_authenticated %}
                      <a href="{{ url_for('create_post') }}"> Add +</a> 
                    </li>
                      {% endif %}
                    {% endif %} -->
                  </li>
                  <li><a href="{{ url_for('index') }}">Home</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="{{ url_for('blog') }}">Blog</a></li>
                  <li><a href="{{ url_for('contact') }}">Contact</a></li>
                  {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <!-- {{ url_for('security.logout') }} -->
                    <!-- {{ url_for('security.login') }} -->
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
