{% extends 'base.html' %}

{% block title %} Blog {% endblock %}

{% block content %}

<section>
    <div class="innerPageBannerCol">
      <div class="container">
        <div class="row g-4 g-md-3  align-items-center">
          <div class="col-md-6">
            <div class="bannerContent">
              <h1 class="xlTitle pb-md-3">See my recent blogs below<br>
                <a href="{{ url_for('create_post') }}"> Add new +</a></h1>
            </div>
            <form class="d-flex" role="search", method="GET">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
              <button class="btn btnOutline" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="lightBg">
      <div class="container">
        <div class="portfolioContentMain">
          <div class="row g-3 g-md-4 g-lg-5 portfolioRow">
            {% for post in pages.items %}
            <div class="col-md-6 pColMain">
              <div class="pCol">
                <p>{{ post.title }}</p>
                {% if not post.image_preview %}
                <a href="{{ url_for('post_detail', slug=post.slug) }}"><img src="{{ url_for('static', filename='images/project-img.jpg') }}" alt="..." class="pImg"></a>
                {% else %}
                <a href="{{ url_for('post_detail', slug=post.slug) }}"><img src="{{ url_for('static', filename='images/post_preview/') + post.image_preview }}" alt="..." class="pImg"></a>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="container">
        <div class="col-md-3 mx-auto">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                {% if pages.has_prev %}
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
                {% endif %}
              </li>

              {% for page in pages.iter_pages() %}
              <li {% if page == pages.page %} class="page-item active" {% endif %} >
                <a class="page-link" href="./?page={{ page }}">{{ page }}
                </a></li>
              {% endfor %}
              
              <li class="page-item">
                {% if pages.has_next %}
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Pagination End -->
      
    </div>
  </section>




{% endblock content %}