{% extends 'base.html' %}
{% block title %} {{ context.title }} {% endblock %}

{% block content %}


<section>
    <div class="innerPageBannerCol">
      <div class="container">
        <div class="row g-4 g-md-3  align-items-center">
          <div class="col-md-6">
            <div class="bannerContent">
              <h1 class="xlTitle pb-md-3">{{ context.title }}</h1>
                    <a title="Edit" href="{{ url_for('edit_post', slug=context.post.slug) }}">
                    <img src="{{ url_for('static', filename='images/edit.png') }}" alt="..." style="width: 48px; margin-bottom: 10px;">Link</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto">
            <div class="authorCol">
              <h4 class="smTitle pb-3">Remizov Oleg</h4>
            </div>
          </div>
          <div class="col-md">
            <!-- <h4 class="smTitle pb-3">12-10-2021</h4> -->
            <h4 class="smTitle pb-3">{{ context.date }}</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    {% if context.image %}
    <div class="container">
      <img class="img-fluid " src="{{ url_for('static', filename='images/post/') + context.image }}" alt="" style="width: 300px;">
    </div>
    {% endif %}
    <div class="sectionSpaceSm">
      <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aenean congue imperdiet lorem ut posuere. Maecenas nec accumsan 
        risus, quis luctus libero. Morbi a nulla ac felis scelerisque 
        feugiat quis vitae turpis. Vivamus nec augue vel enim scelerisque 
        cursus. Curabitur efficitur ipsum quis turpis bibendum egestas. 
        Nunc ac euismod dolor. Vestibulum nec ipsum fermentum, semper 
        quam eu, porttitor elit. Maecenas efficitur ex eget augue euismod 
        semper. Curabitur pharetra tortor vel orci volutpat semper. 
        Donec feugiat mauris ante. In hac habitasse platea dictumst.
        </p>
      </div>
    </div>
  </section>





{% endblock content %}



<!-- <a href="{{ url_for('edit_post', slug=post.slug) }}"> -->