{% extends 'admin/master.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v='1') }}">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for msg in message %}
                <div class="col mb-2"></div>
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">{{ msg.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><a href="#">{{ msg.email }}</a></h6>
                        <p class="card-text">{{ msg.message }}</p>
                        <a href="#" class="card-link">Detail</a>
                        <a href="#" class="card-link">Drop</a>
                    </div>
                </div>
                {% endfor %}
            </div>   
        </div>
    </div>
{% endblock %}




<!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">{{ msg.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
</div> -->