<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Digital Resume | {% block title %} {% endblock %}</title>
    <meta name="author" content="Something">
    <link rel="canonical" href=""/>
    <link rel="home" href=""/>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="shortcut icon" type="image/x-icon" href="images/icon.jpg">
    <link rel="apple-touch-icon" type="image/jpg" href="images/icon.jpg">
    <link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" alt="B" width="96" height="96">

    <!-- ================================
    Start CSS
    ================================= -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.css">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- ================================
    End CSS
    ================================= -->

        <!-- ========== Start  Blog Stylesheet ========== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/flaticon-set.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/elegant-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/magnific-popup.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/bootsnav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/responsive.css') }}">
    <!-- ========== End Blog Stylesheet ========== -->





  </head>

  <body>
    
    {% block content %} {% endblock content %}

    <!-- ================================
    Start Navigation Bar
    ================================= -->
    {% include 'inc/_navbar.html' %}
    <!-- ================================
    End Navigation Bar
    ================================= -->

    <!-- ================================
    Start Footer
    ================================= -->
    {% include 'inc/_footer.html' %}
    <!-- ================================
    End Footer
     ================================= -->

 <!-- ================================
  Start Scripts
  ================================= -->

  <!--=============================================== 
    Start jQuery Frameworks
    ============================================= -->
  <script src="{{ url_for('static', filename='blog/js/jquery-1.12.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/jquery.appear.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/modernizr.custom.13711.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/progress-bar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/count-to.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/YTPlayer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/bootsnav.js') }}"></script>
  <script src="{{ url_for('static', filename='blog/js/main.js') }}"></script>
  <!--=============================================== 
    End jQuery Frameworks
    ============================================= -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/active.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <!-- ================================
  End Scripts
  ================================= -->
</body>
</html>












