
<div class="sidebar-item category">
    <div class="title">
        <h4>category list</h4>
    </div>
    <div class="sidebar-info">
        <ul>
            <li>
                <a href="#">national <span>69</span></a>
            </li>
            <li>
                <a href="#">national <span>25</span></a>
            </li>
            <li>
                <a href="#">sports <span>18</span></a>
            </li>
            <li>
                <a href="#">megazine <span>37</span></a>
            </li>
            <li>
                <a href="#">health <span>12</span></a>
            </li>
        </ul>
    </div>
</div>