
<div class="sidebar-item social-sidebar">
    <div class="title">
        <h4>follow us</h4>
    </div>
    <div class="sidebar-info">
        <ul>
            <li class="github">
                <a href="https://github.com/OlegRemizoff">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="telegram">
                <a href="https://t.me/rem1zoff_oleg">
                    <i class="fab fa-telegram-plane"></i>
                </a>
            </li>
            <li class="g-plus">
                <a href="malito:job.rem1zoff@gmail.com">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
        </ul>
    </div>
</div>